.yellow {
  background-color: #F2E2A9;
  &:hover{
    background-color: #1245AB;
   }
}

.blue {
  background-color: #1245AB;

}

.gray {
  background-color: #D5D5D5;
}

.red {
  background-color: red;
}

.fontred{
  color: red;
}
.fontgray{
  color: gray;
}